'menu': [
  {
    'label': 'Selection'
    'submenu': [
      { 'label': 'Select to Previous Paragraph', 'command': 'editor:select-to-beginning-of-previous-paragraph' }
      { 'label': 'Select to Next Paragraph', 'command': 'editor:select-to-beginning-of-next-paragraph' }
    ]
  }
]
