# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Move by Paragraph'
      'submenu': [
        { 'label': 'Go to Previous Paragraph', 'command': 'move-by-paragraph:move-to-previous-paragraph' }
        { 'label': 'Got to Next Paragraph', 'command': 'move-by-paragraph:move-to-next-paragraph' }
      ]
    ]
  }
]
