'atom-text-editor':
  'alt-up': 'move-by-paragraph:move-to-previous-paragraph'
  'shift-alt-up': 'move-by-paragraph:select-to-previous-paragraph'
  'alt-down': 'move-by-paragraph:move-to-next-paragraph'
  'shift-alt-down': 'move-by-paragraph:select-to-next-paragraph'
