'atom-text-editor:not([mini])':
  'alt-up': 'editor:move-to-beginning-of-previous-paragraph'
  'alt-down': 'editor:move-to-beginning-of-next-paragraph'
  'shift-alt-up': 'editor:select-to-beginning-of-previous-paragraph'
  'shift-alt-down': 'editor:select-to-beginning-of-next-paragraph'
